.vid{
    margin-left: 30%;
    margin-bottom: 10%;
}

.frame{
    margin-left: 30%;
    width: 40%;
}

.h1{
    margin-left: 33%;
    color: chocolate;
    font-size: 220%;
    text-shadow: 2px 2px black;
}

.h2{
    margin-left: 43%;
    color: chocolate;
    font-size: 220%;
    text-shadow: 2px 2px black;
}